.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .example-dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }

  .hide {
      display: none
  }

  .todo-color {
    background-color: #fc5185
  }

  .assigned-color {
    background-color: #43dde6
  }
.progress-color {
  background-color: #17b978;
}
.finished-color {
  background-color: #feb062;
}

.planned-color {
  background-color: #f6ea8c;
}

html, body {
  margin: 0;
  height: 100%;
}